@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}



.slide-name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(var(--foreground-rgb), 0.8);
  background-color: rgba(var(--background-rgb), 0.7);
  padding: 8px 16px;
  border-radius: 4px;
  z-index: 10;
}

.colortransition-enabled .colortransition {
  transition: color 5s ease-in-out, background-color 5s ease-in-out;
}

.colortransition-disabled .colortransition {
  transition: none;
}